# Swap files
*.swp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# KiCad backup and autosave files
*.bak
*.bck
*.kicad_prl
*.tmp
*.lck
*autosave*
fp-info-cache

# Backup folders
backups/
__pycache__/

# KiCad-generated cache
*-cache.lib
*-rescue.lib

# OS junk
.DS_Store
Thumbs.db

# KiCad temporary project files
*.net
*.xml

